<div class="container" data-controller="switch-button">
  <% if current_user.recruiter? %>
    <%= render "recruitercandidacies", user: @user %>
  <% else %>
    <%= render "jobseekercandidacies", user: @user %>
  <% end %>
</div>
