.chat {
  background: #dddddd;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  .container_chatroom {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
  }

  .messages {
    flex-grow: 1; /* Prendre tout l'espace disponible */
    overflow-y: auto; /* Activer le scroll vertical */
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid #979797;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
      background-color: #ffffff;
    }
  }

  .message {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;
  }

  .message-info {
    opacity: 0.5;
    text-align: center;
    width: fit-content;
  }

  .message-content {
    border-radius: 1rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
    max-width: 70%;
    width: fit-content;
    word-wrap: break-word;
  }

  .message.sent .message-content {
    align-self: flex-end;
    background: $blue;
    color: $light-gray;
  }

  .message.sent .message-info {
    align-self: flex-end;
  }

  .message.received .message-content {
    align-self: flex-start;
    background: white;
  }

  .message.received .message-info {
    align-self: flex-start;
  }

  .chatroom-titre{
    border-bottom: 1px solid #979797;
    padding-top: 5px ;
    padding-left: 10px;
    font-size: 24px;
    animation: none;
    text-align: start;
    height: 15%;
  }

  .chatroom-title{
    font-size: 24px;
    animation: none;
    text-align: start;
  }

  .chatroom-level{
    font-size: 18px;
    text-align: start;
  }

  .input_user_chat {
    height: 20%;

    .new_message_content {
      margin-right: 5px;
      margin-bottom: 0px !important;
      align-self: center;
    }

    .button_submit {
      margin: 0px !important;
      align-self: center;
      width: 0%;
    }
  }

}
.titre-list{
  padding-top: 10px;
  background-color: #cac6f6;
  margin-bottom: 0px;
  animation: none;
  height: 10%;
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}


.btn-back-chatroom{
  display: inline-block;
  margin: 10px;
  padding: 9px 10px;
  font-size: 14px;
  background-color: #0037ff;
  color: #ffffff;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-family: 'Roboto', sans-serif;
  border: #0037ff;
  text-decoration: none;

  &:hover {
    background-color: #4a71ff;
    transform: scale(1.05);
  }
}

.text-end{
  background-color: #f4f4f4;
}

.chatroom_container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
  margin: 20px;
  border-radius: 20px;
  height: 90vh;
}

.chatrooms-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 90%;

  > * {
    overflow-y: auto;
  }

  > :first-child {
    border-right: 1px solid #979797;
  }

  > :last-child {
    background-color: rgb(213, 213, 213);
  }

 .list-group-item {
  background-color: rgb(213, 213, 213);
  font-weight: bolder;
  &:hover {
    background-color: #B8ADFF;
  }
 }
 .list-group {
  background-color: rgb(213, 213, 213);
  height: 100%;
  border-color: #979797;
  border-bottom-left-radius: 8px;
 }
}


.grey-color {
  background-color: #B8ADFF !important;
}
