.form-container {
  width: 100%;
  max-width: 800px;
  background-color: #EEEBFF;
  padding: 30px;
  border-radius: 8px;
  margin: 20px auto;
  animation: fadeIn 1s ease-in-out;
}

.container-form {
  background-color: #ffffff;
}

h1, h2 {
  color: #0b0727;
  animation: fadeIn 1s ease-in-out;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.form-row > div {
  padding: 0 15px;
}
.info-container {
  flex-grow: 1;
}

.form-container .form-control {
  font-size: 16px;
  padding: 12px;
}

.form-control-description {
  height: 200px;
}
.form-container label {
  color: #000000;
}

.form-actions {
  text-align: center;
  margin-top: 20px;
}

.col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

h1{
font-family: 'Lovelo', sans-serif;
padding-top: 20px;
}

h2{
  font-family: 'Lovelo', sans-serif;
}

.input-like {
  background-color: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 10px 12px;
  font-size: 16px;
  color: #495057;
  display: inline-block;
  width: 300px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}
.input-like-2 {
  background-color: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 10px 12px;
  font-size: 16px;
  color: #495057;
  display: inline-block;
  width: 100%;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.avatar-container-form {
  display: flex;
  justify-content: flex-end; /* Aligne l'image à droite */
  align-items: center;
  margin-right: 100px; /* Ajoute de l'espace à droite de l'image */
  margin-top: 100px;
}

.avatar-form {
  width: 200px; /* Augmente la largeur de l'image */
  height: 200px; /* Augmente la hauteur pour garder une forme ovale */
  border-radius: 50%; /* Maintient la forme ovale */
  object-fit: cover; /* Assure que l'image garde ses proportions */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.btn-custom{
  background-color: #0037ff;
  border-color: #0037ff;
  color: #000000;
  &:hover {
    background-color: #4970ff;
    border-color: #4970ff;
    color: #ffffff;
  }
}
