.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
  background-color: #e2e0f0;
  background-size: cover;
  background-position: center;
  padding: 20px;
}

.header {
  text-align: center;
  padding: 20px;
  color: #fff;
  border-radius: 8px;
  margin-bottom: 20px;

  .title {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #95E06C;
    animation: fadeIn 1s ease-in-out;
  }

  .subtitle {
    font-size: 1.25rem;
    color: #ced4da;
    animation: fadeIn 2s ease-in-out;
  }
}

.map-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  animation: fadeIn 2s ease-in-out;

  .legend {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: rgba(87, 85, 85, 0.9);
    opacity: 70%;
    padding: 10px 15px;
    color: #ced4da;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    h3 {
      margin-bottom: 10px;
      font-size: 1.25rem;
      color: #ffffff;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        color: #ffffff;
        font-size: 1rem;

        .legendary-dot, .epic-dot, .rare-dot, .common-dot {
          width: 12px;
          height: 12px;
          border-radius: 50%;
          margin-right: 10px;
        }

        .legendary-dot {
          background-color: #ff0707;
        }

        .epic-dot {
          background-color: #ffae00;
        }

        .rare-dot {
          background-color: #eeff00;
        }

        .common-dot {
          background-color: #545a5f;
        }
      }
    }
  }

  .map {
    width: 100%;
    height: 66vh;
    max-width: 1200px;
    border-radius: 8px;
    border: 5px solid #161616;
  }
}

.info-box {
  background-color: rgba(87, 85, 85, 0.9);
  opacity: 50%;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 60px;
  text-align: center;
  animation: fadeIn 2s ease-in-out;

  .info-title {
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 10px;
  }

  .info-text {
    font-size: 1rem;
    color: #ffffff;
  }
}

.footer {
  text-align: center;
  padding: 15px;
  color: #797e77;
  border-radius: 8px;
  margin-top: 20px;
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.filter-bar {
  background-color: rgba(56, 52, 52, 0.8);
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  color: #ced4dab2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  animation: fadeIn 2s ease-in-out;
}

.filter-bar h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: 600;
}

.filter-options {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.filter-options label {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: #ced4dad8;
  cursor: pointer;
}

.filter-options input[type="checkbox"] {
  margin-right: 8px;
  accent-color: #C3F73A;
}

.filter-options input[type="checkbox"]:checked {
  accent-color: #00ff00;
}
