$accept-color: #2ecc71;
$refuse-color: #ff1900;
$pending-color: #ffb820;



.btn-back {
  display: inline-block;
  margin: 20px 0 0 0;
  padding: 12px 25px;
  font-size: 1.2rem;
  background-color: #0037ff;
  color: #ffffff;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-family: 'Roboto', sans-serif;
  border: #0037ff;
  text-decoration: none;

  &:hover {
    background-color: #4a71ff;
    transform: scale(1.05);
  }
}

h1 {
  color: #0b0727;
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}
.card-category{
  background-color: #eeece7;
  text-align: left;
}

.text-light {
  font-weight: 300;
}

.font-italic {
  font-style: italic;
  font-size: 14px;
  color: rgb(82, 82, 82)
}

.text-card{
  padding-left: 15px;
  margin: 0 0 10px;
}

.border-top-line{
  border-top: 1px solid #ddd;
  padding-top: 10px;
  margin-top: 10px;
}

.text-success {
  color: #28a745;
}

.text-danger {
  color: #dc3545;
}

.card-link {
  text-decoration: none;
  color : black;
}


.tabs-underlined {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  font-size: 18px;

  .tab-underlined.active {
    opacity: 1;
    border-bottom: 3px solid #0037ff;
  }

  .tab-underlined {
    color: #000000;
    padding: 8px;
    margin: 10px;
    opacity: 1;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 4px solid transparent;
    transition: border-bottom 0.3s ease;
  }

}

.button-choice {
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: 600;
  margin-right: 10px;

  &.btn-success {
    background-color: #27ae60;
    color: white;

    &:hover {
      background-color: darken(#27ae60, 10%);
    }
  }

  &.btn-danger {
    background-color: $refuse-color;
    color: white;

    &:hover {
      background-color: darken($refuse-color, 10%);
    }
  }
}
