<div class="list-group">
  <% chatrooms.each do |chatroom| %>
    <%= link_to chatroom.candidacy.offer.recruiter.name, chatroom, class: "list-group-item list-group-item-action", data: { turbo_frame: "chatroom"} %>
  <% end %>
</div>
