 <%# <div class="text-end"> %>
  <%# <%= link_to "retour", user_path(current_user), class: "btn-back-chatroom mb-3"%>
<%# </div> %>
<div class = "chatroom_container">
  <h1 class ="titre-list pb-3">Messagerie</h1>

  <div class="chatrooms-grid">
    <%= render 'chatrooms/list', chatrooms: @chatrooms %>
      <%= turbo_frame_tag :chatroom do %>
      <% if params[:chatroom] %>
        <%= render 'chatrooms/chat', user: current_user, chatroom: @chatroom, new_message: @message %>
      <% else %>
        <div class="text-secondary p-3" id="chatroom"> Sélectionnez une conversation </div>
      <% end %>

    <% end %>
  </div>
</div>
