<div class="popup-overlay">
  <div class="popup">
    <h2><%= recruiter.name %></h2>
    <div class="content">
      <p><%= offer.title %></p>
      <a href="#" class="btn">Voir l'offre</a>
    </div>
  </div>
</div>
