<div class="popup-overlay">
  <div class="popup">
    <h2><%= recruiter.name %></h2>
    <div class="content">
      <p><%= offer.title %></p>
      <%= link_to "Voir l'offre", offer_path(offer), :class => "btn mt-3 mb-3" %>
    </div>
  </div>
</div>
