.chatrooms-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100vh;

  > * {
    overflow-y: auto;
  }

  > :first-child {
    border-right: 1px solid #ccc;
  }

  > :last-child {
    background-color: #f9f9f9;
  }

 .list-group-item {
  background-color: rgb(213, 213, 213);
 }
 .list-group {
  background-color: rgb(213, 213, 213);
 }
}

.titre-list{
  animation: none;
}
