.navbar {
  position: inherit;
}
.navbar-scroll {
  background-color: #C3F73A;
  transition: background-color 0.3s ease;

  .nav-link, .navbar-toggler-icon, .navbar-brand {
    color: #262626;
    transition: color 0.3s ease;
  }
}

.navbar-scrolled {
  background-color: #fff;

  .nav-link, .navbar-toggler-icon, .navbar-brand {
    color: #262626;
  }
}

.navbar-brand {
  font-size: 1.2rem;
  height: 2.5rem;
  display: flex;
  align-items: center;

  i {
    margin-right: 4px;
  }
}

.nav-link {
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: 0.5rem;

  i {
    font-size: 1.2rem;
  }

  &:hover {
    color: #C3F73A;
  }
}

.dropdown-menu {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

  .dropdown-item {
    color: #262626;
    padding: 10px 20px;

    &:hover {
      background-color: #C3F73A;
      color: #fff;
    }
  }
}

@media (max-width: 992px) {
  .navbar-collapse {
    background-color: #fff;
    padding: 10px 15px;
  }

  .nav-link {
    padding: 10px 0;
  }
}

.navbar.navbar-scroll.navbar-scrolled {
  padding-top: auto;
  padding-bottom: auto;
}

.container-fluid {
  max-width: 1200px;
  margin: 0 auto;
}
