#neubar {
  background: #e7e5e5;
  box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.4);
  position: inherit;

  .nav-link, .navbar-toggler-icon, .navbar-brand {
    color: #454545;
    transition: color 0.3s ease;
  }

  .nav-item {
    margin: auto 4px;

    .active {
      border-radius: 6px;
      background: linear-gradient(145deg, #cfcfcf, #cfcfcf);
      box-shadow: 4px 4px 8px #cfcfcf, -4px -4px 8px #797979;
    }

    .nav-link {
      padding-left: 12px;
      padding-right: 12px;
      color: #454545;
      transition: color 0.3s ease, box-shadow 0.3s ease;

      &:hover {
        color: #000000;
        background: linear-gradient(145deg, #cfcfcf, #cfcfcf);
        border-radius: 6px;
        box-shadow: 4px 4px 8px #cfcfcf, -4px -4px 8px #797979;
      }
    }
  }

  .dropdown-menu {
    background: #545454;

    .dropdown-item {
      color: #fff;

      &:hover {
        color: #454545;
        background: linear-gradient(145deg, #cfcfcf, #cfcfcf);
        box-shadow: 4px 4px 8px #cfcfcf, -4px -4px 8px #797979;
      }
    }
  }
}

.container-fluid {
  max-width: 1200px;
  margin: 0 auto;
}

.navbar-logo {
  height: 60px;
  width: auto;
  left: 150%;
}
